
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin_cyrillic-regular.eot');
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'), 
    url('../fonts/open-sans-v34-latin_cyrillic-regular.ttf') format('truetype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v34-latin_cyrillic-600.eot');
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-600.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin_cyrillic-600.woff') format('woff'), 
    url('../fonts/open-sans-v34-latin_cyrillic-600.ttf') format('truetype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-600.svg#OpenSans') format('svg'); 
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-latin_cyrillic-700.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-700.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin_cyrillic-700.woff') format('woff'), 
    url('../fonts/open-sans-v34-latin_cyrillic-700.ttf') format('truetype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-700.svg#OpenSans') format('svg'); 
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin_cyrillic-800.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans-v34-latin_cyrillic-800.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin_cyrillic-800.woff') format('woff'), 
    url('../fonts/open-sans-v34-latin_cyrillic-800.ttf') format('truetype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-800.svg#OpenSans') format('svg'); 
}


@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin_cyrillic-italic.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-italic.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin_cyrillic-italic.woff') format('woff'),
    url('../fonts/open-sans-v34-latin_cyrillic-italic.ttf') format('truetype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-italic.svg#OpenSans') format('svg'); 
}


@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin_cyrillic-800italic.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin_cyrillic-800italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/open-sans-v34-latin_cyrillic-800italic.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin_cyrillic-800italic.woff') format('woff'), 
    url('../fonts/open-sans-v34-latin_cyrillic-800italic.ttf') format('truetype'),
    url('../fonts/open-sans-v34-latin_cyrillic-800italic.svg#OpenSans') format('svg');
}
.page {
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
button {
    cursor: pointer;
}


/* header */
.page__inner_grey {
    background-color: #f6f2f2;
}
.page__inner {
    display: block;
    padding-top: 29px;
    width: 100%;
}
.page__inner_dark {
    background-color: #2c2c2c;
}
.header {
    display: flex;
    width: 1249px;
    min-height: 89px;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
}
.page__header {
    margin: 0 auto;

}


.sait-menu {
    margin-left: -32px;
}
.sait-menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.site-menu__item {
    display: flex;
    min-height: 89px;
}
.sait-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans';
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 39px;
    padding-bottom: 26px;
    
}
.sait-menu__link:hover {
    background-color: #ff3f40;
}
.sait-menu__link_active {
    background-color: #ff3f40;
}
/* Main */
/* Intro */
.page__inner_section {
    display: block;
    width: 100%;
    padding: 102px 0 110px;
    background-color: #f6f2f2;
}
.intro {
    display: flex;
    width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
}
.intro__info{
    max-width: 595px;
}
.intro__heading {
    font-family:'Open Sans';
    font-size: 60px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;
    margin-top: -15px;
    color: #000000;
}
.intro__span_special {
    letter-spacing: 6px;

}
.intro__text {
    font-family:'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    margin-bottom: 58px;
}
.action-link {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0.3em;
    width: 227px;
    min-height: 55px;
    font-family:'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border-radius: 5px;
    text-decoration: none;

}
.intro__action_red-full {
    background-color: #ff3f40;
    color: #fff;

}
.intro__action_red-empty {
    background-color: rgba(0, 0, 0, 0.0001);
    color:  #ff3f40;
    border: 2px solid #ff3f40;
}
.intro__video {
    width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

/* services */
.services {
    display: flex;
    width: 1249px;
    margin: 0 auto;
    padding: 107px 0 92px;
    border-bottom: 2px solid #ececec;
    justify-content: space-between;
}
.services__heading {
    font-family:'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    margin: 0;
    margin-bottom: 50px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000000;
}
.services__info {
    width: 539px;
}
.services__about {
    font-family:'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    margin-bottom: 64px;
}  
.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 13px;
    width: 610px;
}
.services__item {
    width: 285px;
    margin-bottom: 52px;
}
.services__item_maneg::before {
    display: block;
    width: 41px;
    height: 41px;
    content: '';
    background-image: url('../img/menagement_koleso.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
}
.services__item_design::before {
    display: block;
    width: 36px;
    height: 37px;
    content: '';
    background-image: url('../img/design_pencil.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
}
.services__item_logo::before {
    display: block;
    width: 44px;
    height: 36px;
    content: '';
    background-image: url('../img/logo_jewel.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
}
.services__item_anime::before {
    display: block;
    width: 41px;
    height: 36px;
    content: '';
    background-image: url('../img/anime_cars.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
}
.services__title {
    font-family:'Open Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 13px;
    color: #000000;
}
.services__text {
    font-family:'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* feature */
.feature {
    width: 1249px;
    margin: 0 auto;
    margin-bottom: 38px;
    padding-top: 104px;
}



.feature__heading {
    font-family:'Open Sans';
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 35px;


}
.feature__about {
    margin: 0 auto;
    margin-bottom: 34.5px;
    width: 537px;
    text-align: center;
    font-family:'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.feature__line {
    width: 130px;
    height: 2px;
    background-color: #ff3f40;
    border: none;
    margin-bottom: 90px;
}
.filter__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 57px;
    list-style: none;
    margin-bottom: 60px;
}
.filter__link {
    font-family:'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;

}
.filter__link:hover {
    color: #ff3f40;
}
.filter__link_active {
    color: #ff3f40;

}
.feature__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.feature__products_img {
    width: 297px;
    height: 270px;
    object-fit: cover;
    
}   
/* Team */
.team {
    width: 1249px;
    margin: 0 auto;
    padding:0 53px;
    text-align: left;
}
.team__header {
    margin-bottom: 72px;
    width: 1249px;
    margin: 0 auto;
    padding: 65px 0 53px;
    text-align: left;
}
.team__heading {
    font-size: 42px;
    font-family:'Open Sans';
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
    margin-bottom: 35.5px;
    
}
.team__about {
    font-size: 16px;
    font-family:'Open Sans';
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    width: 478px;
    margin: 0px;
    margin-bottom: 37.5px;
    
}
.team__line {
    width: 134px;
    height: 2px;
    background-color: #ff3f40;
    border: none;
    margin: 0;
}
.team__members {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 130px;
}
.team__leader_photo {
    object-position: bottom;
    object-fit: contain;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #ff3f40;
}
.team__inner {
    display: flex;
    flex-direction: column;
}
@supports (display: contents) {
    .team__inner {
        display: contents;
    }
}
@supports (grid-template-columns: subgrid) {
    .team__inner {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-items: end;
    }
}
.team__leader_menu {
    width: 631px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
}
.team__leader_name {
    display: block;
    font-size: 30px;
    font-family:'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
    margin-bottom: 30px;
}
.team__leader_about {
    font-size: 16px;
    font-family:'Open Sans';
    font-weight: 400;
    color: #000000;
    margin: 0px;
    margin-bottom: 48px;

}

.team__leader_social {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 62px;
}
.team__leader_link {
    color: #000000;
    font-family:'Open Sans';
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}
.team__leader_link:hover {
    text-decoration: underline;
}
.team__others {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: center;
}
.team__photo {
    position: relative;
}
.team__photo_girl {
    display: block;
    background-color: #ff3f40;
}
.team__girl_name {
    display: none;
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-family:'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px 0;
}
.team__photo:hover > .team__girl_name {
    display: block;
}
/* Substribe */

.substribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1249px;
    margin: 0 auto;
    padding: 150px 0 140px;
    margin-bottom: 104px;
}
.substribe__heading {
    color: #fff;
    font-size: 42px;
    font-family:'Open Sans';
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;

}
.substribe__about {
    color: #fff;
    font-size: 16px;
    font-family:'Open Sans';
    line-height: 28px;
    margin: 0;
    margin-bottom: 62px;
}
.substribe__form {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}
.substribe__input {
    width: 521px;
    height: 79px;
    padding: 0 36px;
    border: none;
    border-radius: 5px;
    color: #2c2c2c;
    margin-bottom: 132px;

}
.substribe__button {
    display: flex;
    color: #fff;
    font-size: 18px;
    font-family:'Open Sans';
    font-weight: 700;
    line-height: 34px;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 79px;
    border: none;
    border-radius: 5px;
    background-color: #ff3f40;
    text-transform: uppercase;
}
/* Form */
.touch{
    /* max-width: 1249px; */
    margin: 0 auto;
    padding:0 53px;
    text-align: left;

}
.touch__header {
    margin-bottom: 72px;
    width: 1249px;
    margin: 0 auto;
    padding: 65px 0 53px;
    text-align: left;
}
.touch__heading {
    font-size: 42px;
    font-family:'Open Sans';
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
    margin-bottom: 35.5px;

}
.touch__about{
    font-size: 16px;
    font-family:'Open Sans';
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    width: 753px;
    margin: 0px;
    margin-bottom: 37.5px;
}

.line__left {
    width: 134px;
    height: 2px;
    background-color: #ff3f40;
    border: none;
    margin: 0;
}
.touch__form input::placeholder,
.touch__form textarea::placeholder {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000000;
}
.form__body {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 731px 107px 411px 1fr;
    grid-template-rows: 481px;
    flex-wrap: wrap;
    margin-bottom: 129px;
    /* justify-content: space-between; */
/* }
.form__body::before {
    content: '';
    flex: 1 1 auto; */
}
.form__body::after {
    content: '';
    flex: 1 1 auto;
    background-color: #2d2d2d;
    grid-column: 5 / 6;
}
.touch__form {
    display: flex;
    flex-wrap: wrap;
    width: 737px;
    grid-column: 2 / 3;

}

.form__name {
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    margin-right: 54px;
    margin-bottom: 44px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000000;

}
.form__email {
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 48px;
    margin-bottom: 44px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000000;

}
.form__feedback {
    box-sizing: border-box;
    width: 731px;
    height: 249px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 31px 51px;
    margin-bottom: 45px;
    resize: none;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000000;
}
.form__button {
    width: 731px;
    height: 72px;
    background-color:#ff3f40;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: Bold;
    font-size: 17.9;
    letter-spacing: 0.32px;
    margin-bottom: 110px;
}
.contacts {
    width: 315px;
    padding: 141px 17px 141px 81px;
    grid-column: 4 / 5;
    
}
.touch__contacts {
    background-color: #2d2d2d;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #fff;
}
.contacts__heading {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contacts__address {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 27px;
}
.contacts__mail {
    display: block;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 20px;
}
.contacts__tel {
    display: block;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 28px;
    color: #fff; 
}
@media screen and (max-width: 1249px) {
    .form__body::after {
        content: none;
    }
    .form__body {
        grid-template-columns: 1fr auto 1fr;
        row-gap: 197px;
    }
    .touch__form {
        width: 100%;
        grid-column: 2 / 3;
        margin-right: initial;
       
    }
    .form__name {
        width: 100%;
        margin-right: initial;
    }
    .form__email {
        width: 100%;

    }
    .form__feedback {
        width: 100%;

    }
    .form__button {
        width: 100%;

    }
    .touch__contacts {
        grid-column: 2 / 3;
    }
    .contacts {
        width: auto;
       
    }

    
}
/* footer */
.footer {
    display: flex;
    max-width: 1249px;
    min-height: 111px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    margin :0 10 0 50;
}
.page__inner_foot{
    background-color: #313030;
}
.footer__copy {
    margin: 0;
    padding-top: 10px;
    color: #888888;
}
.footer__social {
    display: flex;
    gap: 18px;
    margin-right: 167px;
    padding-top: 10px;
}


    




